table 
{
    width: 50%;
    margin: auto;
border: 1px solid black; 
 border-collapse: separate;
border-spacing: 5px;
border-radius: 5px;
}
thead th 
{ border: 1px solid red;
     background-color: gold;}
th 
{border: 1px solid red;
 background-color: chartreuse;}
 td {border: 1px solid blue;}
 tr td:first-child{color: rgb(4, 0, 255);}
 tr td:last-child
 {color: red;}
 